<!doctype html>
<html ng-app="coreNotify">
  <head>
    <title>Getting Started Extension's Popup</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <script src="data/js/jquery-1.11.2.min.js"></script>
    <script src="lib/defs.js"></script>
    <script src="data/js/angular.min.js"></script>
    <script src="options.js"></script>
  </head>
  <body ng-controller="OptionsController">
    <div class="container">
    <h1 class="text-center">Options</h1>
    <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div>
      <form class="" role="form">
        <div class="form-group">
          <label for="page">Default sites:</label>
          <select class="form-control" ng-model="url" ng-options="s for s in sites" name="page">
          </select>
        </div>
        <div class="form-group">
          <label for="page">Custom site:</label>
          <input class="form-control" type="text" ng-model="url" name="url" value="" />
        </div>
        <div class="form-group">
        <div>Desktop notifications: </div>
        <div class="btn-group">
          <label class="btn btn-default" ng-class="{'btn-primary': showDesktopNotifications=='true'}">
              <input type="radio" class="hidden" name="notify" data-ng-model="showDesktopNotifications" value="true"> On
          </label>
              <label class="btn btn-default" ng-class="{'btn-primary': showDesktopNotifications=='false'}">
          <input type="radio" class="hidden" name="notify" data-ng-model="showDesktopNotifications" value="false"> Off
              </label>
            </div>
          </div>

        <div class="form-group">
          <input class="btn btn-primary" ng-click="saveSite()" type="button" name="submit" value="Save" />
          <span class="label label-success" ng-show="savedInfo" >Saved!</span>
        </div>
      </form>
    </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3">  
      <div style="height: 4em">&nbsp;</div>
      <h3>Changelog</h3>
      <pre ng-bind="changelog"></pre>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <div style="height: 2em">&nbsp;</div>
      <a href="#" ng-show="moreHidden" ng-click="showMore()">more</a>
      <div ng-show="moreHidden==false">
      <h3>Infos</h3>
      <div>
        Code: <a href="https://github.com/NoUsername/coreNotify">https://github.com/NoUsername/coreNotify</a>
      </div>
      <div>
        <a href="./LICENSE">License</a>
      </div>
      </div>
    </div>
    </div>
    </div>
  </body>
</html>

